.logo, .animacion{
  width: 100px;
  height: 100px;
  float: left;
}
.principal{
  width: 100%;
}
.left{
  float: left;
  width: 40%;
}
.right{
  float: right;
  width: 50%;
}
.photo{
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-left: 250px;
}
.animacion{
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-left: 200px;
}
.textoGif{
  /*position: relative;*/
  text-align: center;
  margin-top: 170px;

}
