ul {
  border: 1px solid #7C7C7C;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 180px;
}
ul li {
  background: #F4F4F4;
  border-bottom: 1px solid #7C7C7C;
  border-top: 1px solid #FFF;
}
ul li a {
  color: #333;
  /*display: block;*/
  padding: .2em 0 .2em .5em;
  text-decoration: none;
}
a:hover{
  background: #919191;
  color:green;
}
li ul {
  color: #333;
  display: none;
  width: 140px
  padding: .2em 0 .2em .5em;
  padding: 0.5em;
  border: none;
}

li:hover ul{
  display:block;
  list-style-type: square;
  }
